body {
    background-color: rgb(163, 0, 203);
    color: white;
    font-size: large;
}

table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
}

tr:hover {
    background-color: darkmagenta;
}

th, td {
    height: 50px;
}

a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: darkmagenta;
    color: white;
  }